name: on push master

on:
  push:
    branches: [ main ]

permissions:
  contents: write

concurrency:
  group: deploy-release
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build-release.yml
    secrets: inherit

  deploy:
    needs: build
    uses: ./.github/workflows/deploy-release.yml
    secrets: inherit
