name: run ansible

on:
  workflow_call:
  workflow_dispatch:

concurrency:
  group: run-ansible
  cancel-in-progress: true

jobs:
  run-ansible:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Install ansible
        run: python -m pip install "ansible==13.0.0"
        
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_SSH_KEY }}" > /home/runner/.ssh/id_rsa
          chmod 600 /home/runner/.ssh/id_rsa
          printf "Host %s\n  HostName %s\n  User %s\n  IdentityFile /home/runner/.ssh/id_rsa\n  StrictHostKeyChecking no\n" \
            "${{ secrets.SERVER_SSH_IP }}" \
            "${{ secrets.SERVER_SSH_IP }}" \
            "${{ secrets.SERVER_SSH_USER }}" >> ~/.ssh/config

      - name: Generate Ansible inventory
        working-directory: ansible
        run: |
          {
            echo "[myhosts]"
            echo "${{ secrets.SERVER_SSH_IP }}"
            echo
            echo "[all:vars]"
            echo "ansible_user=${{ secrets.SERVER_SSH_USER }}"
            echo "ansible_ssh_private_key_file=/home/runner/.ssh/id_rsa"
          } > inventory.ini

      - name: Run Ansible
        working-directory: ansible
        env:
          ANSIBLE_HOST_KEY_CHECKING: "false"
        run: |
          ansible-playbook -i inventory.ini playbook.yaml \
            -e "domain_name=${{ secrets.SERVER_HOSTNAME }}" \
            -e "certbot_email=${{ secrets.CERTBOT_EMAIL }}" \
            -e "panlex_db_url=${{vars.PANLEX_DB_URL}}" \
            -e "panlex_sqlite_db_path=${{vars.PANLEX_SQLITE_DB_PATH}}"
